<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albums Page</title>
</head>
<body>
<h1>Albums</h1>
<main class="album">
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Song Count</th>
            <th>Album Length (seconds)</th>
            <th>Album Art</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="album : ${album}">
            <td th:text="${album.title}"></td>
            <td th:text="${album.artist}"></td>
            <td th:text="${album.songCount}"></td>
            <td th:text="${album.songLength}"></td>
            <td>
                <img th:src="${album.imgUrl}" th:alt="${album.title}" width="100" height="100">
            </td>

        </tr>
        </tbody>
    </table>
    <section>
        <h2>Album Song List</h2>
        <ul th:each="song : ${album.song}">
            <li th:text="'Album Title: ' + ${album.albumTitle}"></li>
        </ul>
    </section>
</main>
</body>
</html>